demos/demo_flow.json
[{"id":"6168c6d9.76fdc8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"80d4f58c.888b6","type":"debug","z":"6168c6d9.76fdc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"84f0e47d.3f53d8","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":320,"wires":[["2a30803b.593b98"]]},{"id":"2a30803b.593b98","type":"dacp","z":"6168c6d9.76fdc8","name":"Short, 0, 99","dali_type":"2","dali_adr":"0","dali_value":"99","x":550,"y":320,"wires":[["80d4f58c.888b6"]]},{"id":"c5f6fcc3.af046","type":"command","z":"6168c6d9.76fdc8","name":"Short, 0, MIN","dali_type":"2","dali_adr":"0","dali_value":"06","x":550,"y":60,"wires":[["80d4f58c.888b6"]]},{"id":"78f55954.a145b","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":60,"wires":[["c5f6fcc3.af046"]]},{"id":"f7966ccc.37d818","type":"query","z":"6168c6d9.76fdc8","name":"Query, 0, ACT_LVL","dali_adr":"0","dali_value":"160","x":570,"y":480,"wires":[["80d4f58c.888b6"]]},{"id":"d4a27a18.a77ed8","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":480,"wires":[["f7966ccc.37d818"]]},{"id":"3e997252.432d46","type":"dacp","z":"6168c6d9.76fdc8","name":"Broadcast 0","dali_type":"0","dali_adr":"0","dali_value":"0","x":550,"y":220,"wires":[["80d4f58c.888b6"]]},{"id":"f8a0bd4e.a77f88","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":220,"wires":[["3e997252.432d46"]]},{"id":"352264e2.c3c7e4","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":380,"wires":[["d3da9e61.1a9208"]]},{"id":"d3da9e61.1a9208","type":"dacp","z":"6168c6d9.76fdc8","name":"Short, 0, 123","dali_type":"2","dali_adr":"0","dali_value":"123","x":550,"y":380,"wires":[["80d4f58c.888b6"]]},{"id":"a50ce412.d4579","type":"dacp","z":"6168c6d9.76fdc8","name":"Broadcast 200","dali_type":"0","dali_adr":"0","dali_value":"200","x":560,"y":160,"wires":[["80d4f58c.888b6"]]},{"id":"d9dbf71c.d6ac7","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":160,"wires":[["a50ce412.d4579"]]},{"id":"b7548b56.b543e","type":"scene","z":"6168c6d9.76fdc8","name":"Broadcast, Scene 1","dali_type":"0","dali_adr":"0","dali_value":"1","x":570,"y":580,"wires":[["80d4f58c.888b6"]]},{"id":"65b4c492.eb7994","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":580,"wires":[["b7548b56.b543e"]]},{"id":"764e754f.75ea7c","type":"inject","z":"6168c6d9.76fdc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":640,"wires":[["26d83cc7.853634"]]},{"id":"26d83cc7.853634","type":"scene","z":"6168c6d9.76fdc8","name":"Broadcast, Scene 2","dali_type":"0","dali_adr":"0","dali_value":"2","x":570,"y":640,"wires":[["80d4f58c.888b6"]]}]
